*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.containerprofile{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 115px;
    margin-top: 150px;
    font-family: 'Lato', sans-serif;
}

.leftprofile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 490px;
    border-radius: 10px;
    background-color: white;
    gap: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    padding-bottom: 40px;
}

.rightprofile{
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 500px;
    width: 620px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

#profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    border: 2px solid #0083FF;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    transition: all 0.3s ease;
    
}



#update-image-button{
    width: 170px;
    height: 48px;
    background-color: #EBF5FF;
    color: #0056b3;
    border: 1px solid #B3D7FF;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    transition: all 0.3s ease;
    border-radius: 5px;

}

#update-image-button:hover {
    transform: scale(1.05);
    background-color: #0072e0;
    color: white;
    border: 1px solid #0072e0;
}

#remove-image-button{
    width: 170px;
    height: 48px;
    background-color: #FCF7F7;
    color: black;
    border: 1px solid #ddd;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    transition: all 0.3s ease;
    border-radius: 5px;

}

#remove-image-button:hover {
    transform: scale(1.05);
    background-color: #eee;
}

#edit-profile-button{
    width: 170px;
    height: 48px;
    background-color: #FCF7F7;
    color: black;
    border: 1px solid #ddd;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    transition: all 0.3s ease;
    border-radius: 5px;

}

#edit-profile-button:hover {
    transform: scale(1.05);
    background-color: #eee;
}

#current-schedule-button{
    width: 170px;
    height: 48px;
    background-color: #EBF5FF;
    color: #0056b3;
    border: 1px solid #B3D7FF;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    transition: all 0.3s ease;
    border-radius: 5px;

}

#current-schedule-button:hover {
    transform: scale(1.05);
    background-color: #0072e0;
    color: white;
    border: 1px solid #0072e0;
}

#delete-profile-button{
    width: 170px;
    height: 48px;
    background-color: #FFEDED;
    color: #D8000C;
    border: 1px solid #FFB8B8;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    transition: all 0.3s ease;
    border-radius: 5px;
}

#delete-profile-button:hover {
    transform: scale(1.05);
    background-color: #f6515a;
    color: white;
    border: 1px solid #D8000C;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: auto;
    
}

button{
    cursor: pointer;
}

.information{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
}

.name{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
}

.name h1 {
    font-family: 'Montserrat', sans-serif;
}

.name p{
    color: #555;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.rightprofile h1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    color: #333;
}

.information p {
    color: #444;
    line-height: 1.5;
}