@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
}

.containerlogin{
  width: 100vw;
  height: 100vh;
  background-color: black;
  /*filter: hue-rotate(50deg);*/
}

.content{
  display: flex;
  position: relative;
  top: 80px;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: white;
  flex-direction: column;
}

.bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}


.left{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.right{
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}


.textfield{
  border: 1px solid white;
  background-color:#0C0C0C ;
  width: 450px;
  height: 50px;
  padding: 10px;
  font-family: 'lato', sans-serif;
  color: white;
  font-weight: 500;
}

.textfield::placeholder {
  color: white;
}

#forgot{
  text-decoration: none;
  color: white;
  font-family: 'lato', sans-serif;
  font-size: 0.8em;
}

#login{
  border: none;
  color: white;
  cursor: pointer;
  width: 450px;
  height: 50px;
  transition: all 0.3s ease-out;
  border-radius: 10px;
  transition: all 0.1s ease-out;
  background-image: linear-gradient(to right, #012641 , #0A2737 , #064A4C , #026D61 );
}

#login:hover {
  color: white;
  background-image: none;
  background-color: black;
  box-shadow: 
    0 0 15px rgba(0, 255, 204, 0.7), /* Green shadow */
    0 0 30px rgba(0, 131, 255, 0.5);  /* Blue shadow */
  transform: translateY(-2px);
}

.circle{
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  
}

#loginheader{
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 3.5em;
  font-weight: bold;
  margin-bottom: 20px;
  
}

#logindescription{
  font-family: "lato", sans-serif;
  color: white;
  font-size: 0.9em;
  font-weight: 100;
  line-height: 1.5em;
  width:700px ;
  text-align: center;
  margin-bottom: 60px;
}

.logologin{
  position: absolute;
  font-family: "Audiowide", sans-serif;
  color: white;
  font-size: 1.3em;
  top: 60px;
  left: 80px;
  cursor: pointer;
}

#circle1{
  filter: blur(90px);
  right: -200px;
  top: -100px;
}

#circle2{
  filter: blur(100px);
  left: -200px;
  bottom: -200px;
}

#scope{
  color: #00FFCC;
}

#google{
  border: 1px solid white;
  background-color: #000000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 450px;
  height: 50px;
  transition: all 0.3s ease-in-out ;

}

#contact{
  border: 1px solid white;
  background-color: #000000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 450px;
  height: 50px;
  transition: all 0.3s ease-in-out ;

}

#website{
  border: 1px solid white;
  background-color: #000000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 450px;
  height: 50px;
  transition: all 0.3s ease-in-out ;
}

#website:hover {
  color: white;
  background-image: none;
  background-color: black;
  box-shadow: 
    0 0 10px rgba(255, 255, 255, 0.7); /* Green shadow */
  transform: translateY(-2px);
  transform: scale(1.02);
}

#contact:hover {
  color: white;
  background-image: none;
  background-color: black;
  box-shadow: 
    0 0 10px rgba(255, 255, 255, 0.7); /* Green shadow */
  transform: translateY(-2px);
  transform: scale(1.02);
}

#google:hover {
  color: white;
  background-image: none;
  background-color: black;
  box-shadow: 
    0 0 10px rgba(255, 255, 255, 0.7); /* Green shadow */
  transform: translateY(-2px);
  transform: scale(1.02);
}


#devider{
  font-size: 3em;
}

#resetpass{
  margin-top: 70px;
  color: white;
  font-family: 'lato', sans-serif;
  font-size: 1em;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.rights{
  font-family: 'lato', sans-serif;
  color: white;
  font-size: 0.8em;
  bottom: 20px;
  position: absolute;
  right: 40px;
}


.rightreset{
  color: white;
  font-family: lato, sans-serif;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.26);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 450px;
}

#message{
  color: green;
  font-family: 'lato', sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}


#resetheader{
  font-size: 1.5em;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15px;
  text-align: center;
}